/*
Author: Ram David Brodett
*/
.accDisp{
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    background-color: #93A8AC;
    align-items: center;
    padding: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
    margin-top: -25px;
}

.accDisp:hover{
    background-color:  #879a9e;
}

#AccLogo{
    background-image: url('../assets/UserIcon.png');
    background-size: 41px 40px;
    background-position: .1px;
    width: 41px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 3px;
}

#AccDisplayName{
    color: rgb(240, 240, 240);
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    text-wrap: nowrap;
    cursor:default;
}