/*
Authors:
Ram David Brodett
John Paul Carney
Chantal 
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

p,h1,h2,h3,h4{
    cursor: default;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    
}

/* ------------- Header and Footer component display ------------- */

.Header{
    height: 80px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding: 15px;
    background-color: #93A8AC;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.363);
}

.Header .LRS-Banner{
    display: flex;
    flex-direction: row;
}

 #LRS_Header-Icon{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-top: -2px;
}


.Header #HeaderTitle{
    position: relative;
    top: 15%;
    color: #192a38;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 26px;
    text-wrap: nowrap;
}

@media screen and (max-width: 800px) {
    .Header #HeaderTitle {
        margin-right: 50px; 
    }
}

.Header .NavMenu{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    position: relative;
    top: 25%;
    margin-left: auto;
    margin-right: 10px;
}

.Header .NavMenu a{
    color: #192a38;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    text-wrap: nowrap;
    cursor: pointer;
}

.Header .NavMenu a:hover{
    color: #ffffff;
    
}

.NavElem{
    margin-left: 10px;
}

/* --------- Login and Register page style ---------*/

.Login_Background, .Register_Background{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    min-height: 100vh;
    background: url('../assets/LoginBackground.png'), lightgray 50%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
.LoginContent, .RegisterContent{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.Footer{
    margin-top: auto;
    height: 40px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: #93A8AC;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.363);
}

.Footer .Note{
    margin-left: auto;
    color: #192a38;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    margin-right: 10px;

}
.Note #cred1{
    margin-right: 10px;
}
.LoginBody{
    padding: 8%;
}
.RegisterBody{
    padding: 3%;
}

.Login_form, .Register_form{
    position: relative;
    border-radius: 11px;
    z-index: 3;
    margin:auto;
    width: 771px;
    height: 623px;
    flex-shrink: 0;
    background-color: white;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
    padding: 35px;
    display: flex;
    flex-direction: column;
}

.Register_form{
    height: 800px;
}

.Login_form #Top, .Register_form #Top{
    display: flex;
    flex-direction: row;
}

.Login_form #Top h2, .Register_form #Top h2{
    margin-top: 30px;
    font-weight: 600;
    font-size: 32px;
    margin-left: 38px;
    cursor:default;
}

#exitLogin{
    margin-left: auto;
    border: none;
}

.Login_form #Top img, .Register_form #Top img{
   width: 30px;
   height: 30px;
   border: none;
}

.Login_form #Center, .Register_form #Center{
    margin-top: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.Register_form #Center{
    margin-top: 30px;
}

.emailform, .passwordform{
    margin-top: 35px;
    display: flex;
    flex-direction: column;

}

.error-message{
    margin:auto;
    margin-top: 20px;
    color: red;
}

#passwordReg1Label{
    margin-top: 40px;
}

#Center #email-signup{
    display: flex;
    flex-direction: row;
}

#email-signup p{
    margin-left: auto;
    font-weight: 400;
    color: #646464;
    cursor:default;
}

#email-signup #link{
    margin-left: 10px;
    margin-right: 5px;
    font-weight: 500;
    color: #00AF5E;
    text-decoration: none;
}
#email-signup #link:hover{
    color: #006435;
}

.Login_form #Center input, .Register_form #Center input{
    width: 623px;
    height: 62px;
    border-radius: 11px;
    border: 1px solid gray;
    font-size: 28px;
    margin-top: 10px;
    padding-left: 20px;

}

.Login_form #Center label, .Register_form #Center label{
    font-size: large;
    font-weight: 500;
    color: #252525;

}


.Login_form #Bottom, .Register_form #Bottom{
    margin: auto;
}

.Login_form #Bottom button, .Register_form #Bottom button{
    width: 623px;
    height: 62px;
    border-radius: 30px;
    background: #00AF5E;
    border: none;
    color: white;
    font-size: large;
}

.Login_form #Bottom button:active, .Register_form #Bottom button:active{
    background: #006435;;
}

.nameform{
    display: flex;
    flex-direction: row;
}
.FirstName,.LastName{
    display: flex;
    flex-direction: column;
}

.LastName{
    margin-left: 30px;
}

.Register_form #Center .nameform input {
    width: 295px;
    height: 62px;

}


/* --------- location page style --------- */

.LocationContainer{
    background-color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#locationContent{
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 30px;
}

#campusmap{
    position: relative;
    display: flex;
    flex-direction: column;

}

#labsmap{
    position: relative;
    display: flex;
    flex-direction: column;
}

#campusmap h1, #labsmap h1{
    color: #00703c;
    white-space: nowrap;
    font-weight: 900;
}

#campusmapimg{
    position: relative;
    left: -30px;
    background-image: url('../assets/campus-map.jpg');
    background-size: 1121px 700px;
    width: 1100px;
    height: 680px;
    cursor: zoom-in;

    transition: transform 0.3s ease-in-out;
}

#campusmapimg:hover {
    transform: scale(1.2); 
    
  }

#labsmap{
    margin-left: 3vw;
}

#gokslabs, #stlslabs, #velascolabs{
    display: flex;
    flex-direction: column;
}

#gokslabs{
    margin-top: 60px;
}

#stlslabs{
    margin-top: 30px;
}

#velascolabs{
    margin-top: 40px;
}



#gokslabs h4, #stlslabs h4, #velascolabs h4{
    color: #00703c;
}


#goksdetails, #stlsdetails,#velascodetails{
    display: flex;
    flex-direction: row;
}

#goksdetails table, #stlsdetails table,#velascodetails table{
    margin-left: 40px;
    width: 400px;
    border: 2px solid black;
    margin-top: 20px;
}

#goksdetails th, #stlsdetails th,#velascodetails th{
    border: .5px solid black;
}

#goksdetails td, #stlsdetails td,#velascodetails td{
    border: .5px solid black;
    text-align: center;
}

#goksdetails span{
    margin-top: 20px;
    background-image: url('../assets/GokongweiHall.png');
    background-size: 80px 160px;
    width: 80px;
    height: 160px;
}

#stlsdetails span{
    margin-top: 40px;
    background-image: url('../assets/St_LaSalleHall.png');
    background-size: 200px 100px;
    width: 200px;
    height: 95px;
}

#velascodetails span{
    margin-top: 20px;
    background-image: url('../assets/VelascoHall.png');
    background-size: 85px 190px;
    background-position: 0px -5px;
    width: 80px;
    height: 175px;
}

/* ------ Home page style ------- */

.Home_Container{
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
}

.Home_Body{
    display: flex;
    flex-direction: column;
}

.topContent{
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-left: 40px;
}

.topText{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.topText h1{
    margin-top: 10px;
    font-size: 64px;
    color: #00AF5E;
}

.topContent span{

    /*replace background color to an image later*/
    background-image: url('../assets/Computers.jpg');
    background-size: 800px 450px;
    background-position: 0px -25px;
    width: 800px;
    height: 350px;
    border-radius: 37px;
    flex-shrink: 0;
    box-shadow: 0px 0px 3px black;
    
}

.topContent p{
    font-size: 18px;
    margin-top: 20px;
    width: 800px;
}

.bottomContent{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-left: 40px;
}

#contact{
    width: 448px;
    height: 379px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #00703C;
    padding: 15px;
}

#contact h3{
    text-align: center;
    color: white;
    font-weight: 400px;
}

 .text{
    color: rgb(240, 240, 240);
    font-size: 14px;
    cursor: auto;
}

#IT-INFO{
    margin-top: 30px;
    font-weight:bolder;
    color:white;
    font-size: 18px;
    cursor: auto;
}

#emailIT{
    margin-top: 10px;
    color:  rgb(240, 240, 240);
    cursor: auto;
}
#emailIT a{
    color: white;
}

#contactIT{
    margin-top: 10px;
    color:  rgb(240, 240, 240);
    cursor: auto;

}

#contactIT span{
    margin-top: 10px;
    color:  rgb(240, 240, 240);
    
}


#image2{
    margin-left: 130px;
    width: 690px;
    height: 379px;
    flex-shrink: 0;
    border-radius: 33px;
    background-image: url('../assets/computerLab.jpg');
    background-size: 690px 450px;
    background-position: 0px -70px;
    box-shadow: 0px 0px 3px black;
}

#shortcuts{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    cursor: pointer;
}

#topShortcut, #leftbotShortcut, #rightbotShortcut{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#botShortcut{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
#leftbotShortcut{
    margin-left: 80px;
}
#rightbotShortcut{
    margin-left: 60px;
}


#topShortcut div{
    margin-top: 35px;
    margin-left: 100px;
    width: 326px;
    height: 95px;
    border-radius: 16px;
    background-color: #00703C;
    flex-shrink: 0;
    text-align: center;
}

#topShortcut div:hover{
   background-color: #00AF5E;

}

#bookIcon{
    width: 80px;
    height: 80px;
    margin-left: -5px;
    margin-top: 6px;
}

#mapIcon{

    width: 100px;
    height: 130px;
    margin-top: -10px;

}
#guideIcon{

    width: 140px;
    height: 160px;
    margin-top: -20px;
    margin-left: -8px;

}

#topShortcut h1 {
    margin-left: 95px;
    flex-shrink: 0;
    color: #00703C;
}
#leftbotShortcut h1,#rightbotShortcut h1{
    flex-shrink: 0;
    color: #00703C;
}

#leftbotShortcut div{
    width: 128px;
    height: 122px;
    background-color: #00703C;
    border-radius: 100px;
    flex-shrink: 0;
    text-align: center;
}

#leftbotShortcut div:hover{
    background-color:#00AF5E;
}

#rightbotShortcut div{
    width: 128px;
    height: 122px;
    background-color: #00703C;
    border-radius: 100px;
    flex-shrink: 0;
    text-align: center;
}
#rightbotShortcut div:hover{
    background-color:#00AF5E;
}

/* ----------  Booking page style ----------*/

.Booking {
    font-family: Arial, sans-serif;
    margin: 20px;
  }

.center {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.tickets {
    width: 550px;
    height: fit-content;
    border: 0.4mm solid rgba(0, 0, 0, 0.08);
    border-radius: 3mm;
    box-sizing: border-box;
    padding: 10px;
    font-family: poppins;
    max-height: 96vh;
    overflow: auto;
    background: white;
    box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.ticket-selector {
    background: rgb(243, 243, 243);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
}
.head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.title {
    font-size: 24px;
    font-weight: 600;
}
.seats {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 150px;
    position: relative; 
}
.status {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.item {
    font-size: 12px;
    position: relative;
}
.item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -12px;
    transform: translate(0, -50%);
    width: 10px;
    height: 10px;
    background: #198754;
}
.item:nth-child(2)::before {
    background: salmon;
    outline: none;
}
.item:nth-child(3)::before {
    background: rgb(220, 53, 69);
    outline: none;
}
.all-seats {
    display: grid;
    grid-gap: 15px;
    margin: 50px;
    margin-top: 20px;
    position: relative;
}
.timings {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.dates {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dates-item {
    width: 50px;
    height: 40px;
    background: rgb(233, 233, 233);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0;
    border-radius: 2mm;
    cursor: pointer;
}
.day {
    font-size: 12px;
}
.times {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.time {
    font-size: 14px;
    width: fit-content;
    padding: 7px 14px;
    background: rgb(233, 233, 233);
    border-radius: 2mm;
    cursor: pointer;
}
.selected {
    background-color: rgb(28, 185, 120);
}
.btn {
    background-color: #198754;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    border: 0;
    transition-duration: 0.4s;
    cursor: pointer;
}
.booked {
    background-color: salmon;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    border: 0;
}
.btn:hover {
    background-color: #157347;
    color: white;
}
.blank {
    opacity: 0;
    width: 15px;
    height: 15px;
}

.radioInput{
    display: none;
}

/* ----------  Guide page style ----------*/
