/* ------ Home page style ------- */

.Home_Container{
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Home_Body{
    display: flex;
    flex-direction: column;
}

.topContent{
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-left: 40px;
}

.topText{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.topText h1{
    margin-top: 10px;
    font-size: 64px;
    color: #00AF5E;
}

.topContent span{

    /*replace background color to an image later*/
    background-image: url('../Assets/Computers.jpg');
    background-size: 800px 450px;
    background-position: 0px -25px;
    width: 800px;
    height: 350px;
    border-radius: 37px;
    flex-shrink: 0;
    box-shadow: 0px 0px 3px black;
    
}

.topContent p{
    font-size: 18px;
    margin-top: 20px;
    width: 800px;
}

.bottomContent{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-left: 40px;
}

#contact{
    width: 448px;
    height: 379px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #00703C;
    padding: 15px;
}

#contact h3{
    text-align: center;
    color: white;
    font-weight: 400px;
}

 .text{
    color: rgb(240, 240, 240);
    font-size: 14px;
    cursor: auto;
}

#IT-INFO{
    margin-top: 30px;
    font-weight:bolder;
    color:white;
    font-size: 18px;
    cursor: auto;
}

#emailIT{
    margin-top: 10px;
    color:  rgb(240, 240, 240);
    cursor: auto;
}
#emailIT a{
    color: white;
}

#contactIT{
    margin-top: 10px;
    color:  rgb(240, 240, 240);
    cursor: auto;

}

#contactIT span{
    margin-top: 10px;
    color:  rgb(240, 240, 240);
    
}


#image2{
    margin-left: 130px;
    width: 690px;
    height: 379px;
    flex-shrink: 0;
    border-radius: 33px;
    background-image: url('../Assets/computerLab.jpg');
    background-size: 690px 450px;
    background-position: 0px -70px;
    box-shadow: 0px 0px 3px black;
}

#shortcuts{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    cursor: pointer;
}

#topShortcut, #leftbotShortcut, #rightbotShortcut{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#botShortcut{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
#leftbotShortcut{
    margin-left: 80px;
}
#rightbotShortcut{
    margin-left: 60px;
}


#topShortcut div{
    margin-top: 35px;
    margin-left: 100px;
    width: 326px;
    height: 95px;
    border-radius: 16px;
    background-color: #00703C;
    flex-shrink: 0;
    text-align: center;
}

#topShortcut div:hover{
   background-color: #00AF5E;

}

#bookIcon{
    width: 80px;
    height: 80px;
    margin-left: -5px;
    margin-top: 6px;
}

#mapIcon{

    width: 100px;
    height: 130px;
    margin-top: -10px;

}
#guideIcon{

    width: 140px;
    height: 160px;
    margin-top: -20px;
    margin-left: -8px;

}

#topShortcut h1 {
    margin-left: 95px;
    flex-shrink: 0;
    color: #00703C;
}
#leftbotShortcut h1,#rightbotShortcut h1{
    flex-shrink: 0;
    color: #00703C;
}

#leftbotShortcut div{
    width: 128px;
    height: 122px;
    background-color: #00703C;
    border-radius: 100px;
    flex-shrink: 0;
    text-align: center;
}

#leftbotShortcut div:hover{
    background-color:#00AF5E;
}

#rightbotShortcut div{
    width: 128px;
    height: 122px;
    background-color: #00703C;
    border-radius: 100px;
    flex-shrink: 0;
    text-align: center;
}
#rightbotShortcut div:hover{
    background-color:#00AF5E;
}
