/* ----------  Lab selection page style ----------*/

.labSelectContainer {
    margin:auto;
}
#labSelectorBoxBox{
    width:800px;
}
#labSelectorBox{
    display: flex;
    flex-direction: column;
}

#selectorHeader{
    margin-top:10px;
    font-size: 24px;
    font-weight:200;
}

#labSelectDropdown {
    margin-top: 5px;
    font-size: 28px;
}