/* --------- location page style --------- */

.LocationContainer{
    background-color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#locationContent{
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 30px;
}

#campusmap{
    position: relative;
    display: flex;
    flex-direction: column;

}

#labsmap{
    position: relative;
    display: flex;
    flex-direction: column;
}

#campusmap h1, #labsmap h1{
    color: #00703c;
    white-space: nowrap;
    font-weight: 900;
}

#campusmapimg{
    position: relative;
    left: -30px;
    background-image: url('../assets/campus-map.jpg');
    background-size: 1121px 700px;
    width: 1100px;
    height: 680px;
    cursor: zoom-in;

    transition: transform 0.3s ease-in-out;
}

#campusmapimg:hover {
    transform: scale(1.2); 
    
  }

#labsmap{
    margin-left: 3vw;
}

#gokslabs, #stlslabs, #velascolabs{
    display: flex;
    flex-direction: column;
}

#gokslabs{
    margin-top: 60px;
}

#stlslabs{
    margin-top: 30px;
}

#velascolabs{
    margin-top: 40px;
}



#gokslabs h4, #stlslabs h4, #velascolabs h4{
    color: #00703c;
}


#goksdetails, #stlsdetails,#velascodetails{
    display: flex;
    flex-direction: row;
}

#goksdetails table, #stlsdetails table,#velascodetails table{
    margin-left: 40px;
    width: 400px;
    border: 2px solid black;
    margin-top: 20px;
}

#goksdetails th, #stlsdetails th,#velascodetails th{
    border: .5px solid black;
}

#goksdetails td, #stlsdetails td,#velascodetails td{
    border: .5px solid black;
    text-align: center;
}

#goksdetails span{
    margin-top: 20px;
    background-image: url('../Assets/GokongweiHall.png');
    background-size: 80px 160px;
    width: 80px;
    height: 160px;
}

#stlsdetails span{
    margin-top: 40px;
    background-image: url('../Assets/St_LaSalleHall.png');
    background-size: 200px 100px;
    width: 200px;
    height: 95px;
}

#velascodetails span{
    margin-top: 20px;
    background-image: url('../Assets/VelascoHall.png');
    background-size: 85px 190px;
    background-position: 0px -5px;
    width: 80px;
    height: 175px;
}
