/* --------- Login and Register page style ---------*/

.Login_Background, .Register_Background{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    min-height: 100vh;
    background: url('../Assets/LoginBackground.png'), lightgray 50%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
.LoginContent, .RegisterContent{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.LoginBody{
    padding: 8%;
}
.RegisterBody{
    padding: 3%;
}

.Login_form, .Register_form{
    position: relative;
    border-radius: 11px;
    z-index: 3;
    margin:auto;
    width: 771px;
    height: 623px;
    flex-shrink: 0;
    background-color: white;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
    padding: 35px;
    display: flex;
    flex-direction: column;
}

.Register_form{
    height: 800px;
}

.Login_form #Top, .Register_form #Top{
    display: flex;
    flex-direction: row;
}

.Login_form #Top h2, .Register_form #Top h2{
    margin-top: 30px;
    font-weight: 600;
    font-size: 32px;
    margin-left: 38px;
    cursor:default;
}

#exitLogin{
    margin-left: auto;
    border: none;
}

.Login_form #Top img, .Register_form #Top img{
   width: 30px;
   height: 30px;
   border: none;
}

.Login_form #Center, .Register_form #Center{
    margin-top: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.Register_form #Center{
    margin-top: 30px;
}

.emailform, .passwordform{
    margin-top: 35px;
    display: flex;
    flex-direction: column;

}

.error-message{
    margin:auto;
    margin-top: 20px;
    font-weight: bold;
    color: red;
}
.success-message{
    margin:auto;
    margin-top: 20px;
    font-weight: bold;
    color: #00AF5E;
}

#passwordReg1Label{
    margin-top: 40px;
}

#Center #email-signup{
    display: flex;
    flex-direction: row;
}

#email-signup p{
    margin-left: auto;
    font-weight: 400;
    color: #646464;
    cursor:default;
}

#email-signup #link{
    margin-left: 10px;
    margin-right: 5px;
    font-weight: 500;
    color: #00AF5E;
    text-decoration: none;
}
#email-signup #link:hover{
    color: #006435;
}

.Login_form #Center input, .Register_form #Center input{
    width: 623px;
    height: 62px;
    border-radius: 11px;
    border: 1px solid gray;
    font-size: 28px;
    margin-top: 10px;
    padding-left: 20px;

}

.Login_form #Center label, .Register_form #Center label{
    font-size: large;
    font-weight: 500;
    color: #252525;

}

.rememberMeCheckbox{
    display: flex;
    flex-direction: row;
    margin:auto;
}

.rememberMeCheckbox input{
    width: 20px;
    height: 20px;
}

.rememberMeCheckbox label{
 margin-left: 10px;
 color: #646464;
 margin-top: -2px;

}


.Login_form #Bottom, .Register_form #Bottom{
    margin: auto;
}

.Login_form #Bottom button, .Register_form #Bottom button{
    width: 623px;
    height: 62px;
    border-radius: 30px;
    background: #00AF5E;
    border: none;
    color: white;
    font-size: large;
    margin-left: 0px;
}

.Login_form #Bottom button:active, .Register_form #Bottom button:active{
    background: #006435;;
}

.nameform{
    display: flex;
    flex-direction: row;
}
.FirstName,.LastName{
    display: flex;
    flex-direction: column;
}

.LastName{
    margin-left: 30px;
}

.Register_form #Center .nameform input {
    width: 295px;
    height: 62px;

}
