/* ----------  Lab selection page style ----------*/

.labSelectContainer {
    margin:auto;
}
#labSelectorBoxBox{
    width:800px;
}
#labSelectorBox{
    display: flex;
    flex-direction: column;
}

.topPortion {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left: 40px;
}

.toptext {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.toptext h1{
    margin-top: 10px;
    font-size: 64px;
    color: #00AF5E;
    margin-right: 40px;
}

.stepcontainer {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin-left: 40px;
}

.step{
    width: 450px;
    height: 350px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #00703C;
    padding: 10px;
    align-items: center;
    text-align: center;
    margin: auto;
}

.steptextbox {
    color: rgb(240, 240, 240);
    font-size: 14px;
    cursor: auto;
    margin-top: 10px;
}

.step1imagebox {
    background-image: url ("../Assets/guideimage1.jpg");
   
    width: 375px;
    height: 150px;
    align-items: center;
    margin: auto;
    box-shadow: 0px 0px 3px black;
}

#step1imagebox span {
    background-image: url ("../Assets/guideimage1.jpg");
}

.step2imagebox {
    background-image: url ( "../Assets/guideimage2.jpg");
    background-size: contain;
    width: 375px;
    height: 150px;
    margin: auto;
    box-shadow: 0px 0px 3px black;
}

.step3imagebox {
    background-image: url ( "../Assets/guideimage3.jpg");
    background-size: contain;
    width: 375px;
    height: 150px;
    margin: auto;
    box-shadow: 0px 0px 3px black;

}
#selectorHeader{
    margin-top:10px;
    font-size: 24px;
    font-weight:200;
}

#labSelectDropdown {
    margin-top: 5px;
    font-size: 28px;
}