/* ---------- Profile page style ---------*/
#profile_Container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#profile_body{
    width:100%;
}

#UserProfileDetails {
    padding-top: 10px;
    padding-bottom: 10px;
}
#UserProfileDetails h2{
    color: #00AF5E;
    margin-left: 30px;
    margin-bottom: 10px;
}


#topProfileDetails{
    display: flex;
    flex-direction: row;
}

#userProfileImage{
    margin-top: 20px;
    margin-left: 20px;
    width: 200px;
    height: 200px;
}

#profileNameText{
    margin-left: 40px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

#profileNameText h1{
    color: #192a38;
    font-size: 58px;
}

#contactdetails{
    margin-left: 40px;
    margin-top: 15px;
}

#contactdetails h1{
    color:  #00AF5E;
}

#contactInfo h2{
    color: #192a38;
    margin-left: 0px;
    font-size: 18px;
}
#FirstNamePlaceholder {
    margin-left: 10px;
}

#profileDetails{
    display: flex;
    flex-direction: column;
}


#biodetails h1{
    color: #00AF5E;

}

#biodetails p{
    background-color:rgb(216, 216, 216) ;
    width: auto;
    max-width: 700px;
    height: auto;
    padding: 10px;
    margin-top: 10px;
    border-radius: 7px;
    box-shadow: 0 0 1px black;
}

#botProfileDetails{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-top: 30px;
}

#reservedSeatsDetails h1{
    margin-top: 10px;
    color: #00AF5E;
}

#reservedSeatsDetails p{
    background-color:rgb(216, 216, 216) ;
    width: auto;
    max-width: 700px;
    height: auto;
    padding: 10px;
    margin-top: 10px;
    border-radius: 7px;
    box-shadow: 0 0 1px black;
}