@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

p,h1,h2,h3,h4{
    cursor: default;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #ffffff;
    overflow-x: hidden;
}